<form id="loginForm"  class="text-center" style="max-width: 200px;">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" class="form-control text-center" maxlength="30" style="max-width: 200px;" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control text-center" maxlength="30" style="max-width: 200px;" required>

    <input type="hidden" name="next" value="{{ next }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button type="submit" class="btn btn-primary mt-3" data-link>Login</button>
</form>
