{% load static %}
{% block content %}
    <div class="container mt-5 text-center" style="background: url('{% static 'assets/42logo.svg' %}') no-repeat center center; background-size: cover; padding: 50px; border-radius: 15px;">
    <p class="alert alert-warning">Sorry, you need to login to see this page.</p>

    <p>
        <p> Regular User: </p>
        <a href="/login" class="btn btn-primary" data-link>Login</a>
    </p>

    <br>

    <p>Do you have a 42 account?</p>

    <p>
        <a href="/auth42" class="btn btn-success">42 Auth</a>
    </p>


        <p> Don't have an acoount ? </p>
        <a href="/register" class="btn btn-primary" data-link> Register</a>

    <div class="mt-3">
        <img src="{% static 'assets/42logo.svg' %}" alt="Logo" style="height: 40px;">
    </div>
</div>
{% endblock %}
